@using System.Globalization
@using System.Threading
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/styles.css"/>

    </head>
<body>
<header>
    <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="#!">Pood</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">@Resources.Base.Common.Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="" asp-controller="ProductsPage" asp-action="Index">ProductsPage</a>
                            </li>
                            
                            
                                    
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Shop
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index">@Resources.BLL.App.DTO.Bill.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">@Resources.BLL.App.DTO.Company.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Discounts" asp-action="Index">@Resources.BLL.App.DTO.Discount.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="LinesOnBills" asp-action="Index">@Resources.BLL.App.DTO.LineOnBill.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">@Resources.BLL.App.DTO.Order.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Payments" asp-action="Index">@Resources.BLL.App.DTO.Payment.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="PaymentTypes" asp-action="Index">@Resources.BLL.App.DTO.PaymentType.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Persons" asp-action="Index">@Resources.BLL.App.DTO.Person.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Prices" asp-action="Index">@Resources.BLL.App.DTO.Price.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">@Resources.BLL.App.DTO.Product.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ProductTypes" asp-action="Index">@Resources.BLL.App.DTO.ProductType.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ProductsInOrders" asp-action="Index">@Resources.BLL.App.DTO.ProductInOrder.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ProductsInWarehouses" asp-action="Index">@Resources.BLL.App.DTO.ProductInWarehouse.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="Index">@Resources.BLL.App.DTO.Warehouse.EntityName</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Resources.Base.Common.Privacy</a>
                                </div>
                            </li>
                                   
                                    
                            
                                                        
                                    
                            <partial name="_LanguageSelection"/>
                            <partial name="_LoginPartial"/>
                                                        
                        </ul>
                        <form class="d-flex">
                            <button class="btn btn-outline-dark" type="submit" asp-area="" asp-controller="CartPage" asp-action="Index">
                                <i class="bi-cart-fill me-1" ></i>
                                Cart
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Keila JK</h1>
                <p class="lead fw-normal text-white-50 mb-0">e-pood</p>
            </div>
        </div>
    </header>
    <!--
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Resources.Base.Common.Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductsPage" asp-action="Index">ProductsPage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index">@Resources.BLL.App.DTO.Bill.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">@Resources.BLL.App.DTO.Company.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Discounts" asp-action="Index">@Resources.BLL.App.DTO.Discount.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LinesOnBills" asp-action="Index">@Resources.BLL.App.DTO.LineOnBill.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">@Resources.BLL.App.DTO.Order.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Payments" asp-action="Index">@Resources.BLL.App.DTO.Payment.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="PaymentTypes" asp-action="Index">@Resources.BLL.App.DTO.PaymentType.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Persons" asp-action="Index">@Resources.BLL.App.DTO.Person.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Prices" asp-action="Index">@Resources.BLL.App.DTO.Price.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">@Resources.BLL.App.DTO.Product.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductTypes" asp-action="Index">@Resources.BLL.App.DTO.ProductType.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductsInOrders" asp-action="Index">@Resources.BLL.App.DTO.ProductInOrder.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductsInWarehouses" asp-action="Index">@Resources.BLL.App.DTO.ProductInWarehouse.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="Index">@Resources.BLL.App.DTO.Warehouse.EntityName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Resources.Base.Common.Privacy</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Base.Common.Users
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Users" asp-action="Index">@Resources.Base.Common.Users</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">@Resources.Base.Common.Roles</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">@Resources.Base.Common.User_and_roles</a>
                            </div>
                        </li>

                    }

                    <partial name="_LanguageSelection"/>

                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
    -->
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | UICulture: @Thread.CurrentThread.CurrentCulture.Name (@CultureInfo.CurrentCulture.Name) | Culture: @Thread.CurrentThread.CurrentUICulture.Name (@CultureInfo.CurrentUICulture.Name)
        @(DateTime.Now.ToShortDateString())
        @((123.45).ToString())
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>