@model BLL.App.DTO.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Base.Common.Details</h1>

<div>
    <h4>@Resources.BLL.App.DTO.Payment.EntityName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
