@model BLL.App.DTO.Bill

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resources.Base.Common.Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Resources.BLL.App.DTO.Bill.EntityName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceWithoutTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceWithoutTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumOfTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumOfTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceToPay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
