@model Domain.App.Identity.AppUser

@{
    ViewData["Title"] = "Block";
}

<h1>Block</h1>

<h3>Are you sure you want to block this user?</h3>
<div>
    <h4>AppRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </dd>
    </dl>
   @if (Model.LockoutEnd == DateTimeOffset.MaxValue)
   {
       <form asp-action="UnBlock">
           <input type="hidden" asp-for="Id" />
           <input type="submit" value="UnBlock" class="btn btn-danger" /> |
           <a asp-action="Index">Back to List</a>
       </form>
   }
   else
   {
       <form asp-action="Block">
           <input type="hidden" asp-for="Id" />
           <input type="submit" value="Block" class="btn btn-danger" /> |
           <a asp-action="Index">Back to List</a>
       </form>
   }
    
    
    
</div>
