@model BLL.App.DTO.LineOnBill

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resources.Base.Common.Delete</h1>

<h3>@Resources.Base.Common.AskForDeleteConfirmation</h3>
<div>
    <h4>@Resources.BLL.App.DTO.LineOnBill.EntityName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceWithoutTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceWithoutTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumOfTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumOfTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceToPay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources.Base.Common.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Resources.Base.Common.Back</a>
    </form>
</div>
