@model BLL.App.DTO.LineOnBill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LineOnBill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceWithoutTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceWithoutTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumOfTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumOfTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceToPay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
