@model BLL.App.DTO.Warehouse
@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Base.Common.Details</h1>

<div>
    <h4>@Resources.BLL.App.DTO.Warehouse.EntityName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Until)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Base.Common.Edit</a> |
    <a asp-action="Index">@Resources.Base.Common.Back</a>
</div>
