@model IEnumerable<BLL.App.DTO.ProductType>
@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.BLL.App.DTO.ProductType.EntityName</h1>

<p>
    <a asp-action="Create">@Resources.Base.Common.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Base.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Base.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Base.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
