@model BLL.App.DTO.Discount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Resources.BLL.App.DTO.Discount.EntityName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredUserLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredUserLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Until)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Until)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
