@model BLL.App.DTO.Product
<!DOCTYPE html>
<html lang="en">
    
    <body>
        
        <!-- Product section-->
        <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    <div class="col-md-6">
                        
                        <h1 class="display-5 fw-bolder">@Model.ProductName</h1>
                        <div class="fs-5 mb-5">
                            <span>@Model.Price</span>
                        </div>
                        <p class="lead">@Model.ProductSize</p>
                        <p class="lead">@Model.ProductSeason</p>
                        <div class="d-flex">
                            <form asp-controller="ProductsPage" asp-action="AddToCart">
                                <input  class="form-control text-center me-3" id="amount" name="amount" type="num" value="1" style="max-width: 3rem"/>
                                
                                <input name="productId" type="hidden" value="@Model.Id" class="btn btn-primary" />
                                
                                <input type="submit" value="Add to cart" class="btn btn-primary" />
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

